<button class="col-xs-12 btn btn-primary" style="margin-bottom: 5px" ng-click="createGameRequest('rock-paper-scissor')">Rock Paper Scissor</button>
<button class="col-xs-12 btn btn-primary" style="margin-bottom: 5px" ng-click="createGameRequest('tic-tac-toe')">Tick Tac Toe</button>