<label ng-if="game.myAction && game.state == -2" class="col-xs-12">Waiting for opponent move...</label>

<label ng-if="game.state != -2" class="col-xs-12 text-center">{{game.state == 1 ? 'You Won': (game.state == 0 ? "It's Draw" : 'You Lost')}}</label>

<button class="btn col-xs-4" ng-class="{'btn-success': (game.state == 1 && game.myAction == 'ROCK') || (game.state == -1 && game.opponentAction == 'ROCK'), 'btn-danger': (game.state == -1 && game.myAction == 'ROCK') || (game.state == 1 && game.opponentAction == 'ROCK'), 'btn-warning': game.state == 0 && game.myAction == 'ROCK', 'btn-default': game.myAction != 'ROCK' && game.opponentAction != 'ROCK', 'btn-primary': game.state == -2 && game.myAction == 'ROCK'}" ng-click="select('ROCK')" ng-disabled="game.myAction">Rock</button>
<button class="btn col-xs-4" ng-class="{'btn-success': (game.state == 1 && game.myAction == 'PAPER') || (game.state == -1 && game.opponentAction == 'PAPER'), 'btn-danger': (game.state == -1 && game.myAction == 'PAPER') || (game.state == 1 && game.opponentAction == 'PAPER'), 'btn-warning': game.state == 0 && game.myAction == 'PAPER', 'btn-default': game.myAction != 'PAPER' && game.opponentAction != 'PAPER', 'btn-primary': game.state == -2 && game.myAction == 'PAPER'}" ng-click="select('PAPER')" ng-disabled="game.myAction">Paper</button>
<button class="btn col-xs-4" ng-class="{'btn-success': (game.state == 1 && game.myAction == 'SCISSOR') || (game.state == -1 && game.opponentAction == 'SCISSOR'), 'btn-danger': (game.state == -1 && game.myAction == 'SCISSOR') || (game.state == 1 && game.opponentAction == 'SCISSOR'), 'btn-warning': game.state == 0 && game.myAction == 'SCISSOR', 'btn-default': game.myAction != 'SCISSOR' && game.opponentAction != 'SCISSOR', 'btn-primary': game.state == -2 && game.myAction == 'SCISSOR'}" ng-click="select('SCISSOR')" ng-disabled="game.myAction">Scissor</button>

<btn ng-if="game.state != -2" class="col-xs-12 btn btn-primary" style="margin-top: 5px" ng-click="playAgain('rock-paper-scissor')">Play Again</btn>
<btn ng-if="game.state != -2" class="col-xs-12 btn btn-default" style="margin-top: 5px" ng-click="goHome()">Home</btn>