<label ng-if="game.state == -2" class="col-xs-12">{{game.myTurn ? 'Its your turn...' : 'Waiting for opponent move... '}}</label>

<label ng-if="game.state != -2" class="col-xs-12 text-center">{{game.state == 1 ? 'You Won': (game.state == 0 ? "It's Draw" : 'You Lost')}}</label>

<button ng-repeat="c in game.columns track by $index" class="col-xs-4 btn" ng-class="{'btn-default': c == 0, 'btn-success': c == 1, 'btn-danger': c == -1}" ng-click="select($index)" ng-disabled="c != 0 || !game.myTurn" style="min-height: 25px"> </button>

<btn ng-if="game.state != -2" class="col-xs-12 btn btn-primary" style="margin-top: 5px" ng-click="playAgain('tic-tac-toe')">Play Again</btn>
<btn ng-if="game.state != -2" class="col-xs-12 btn btn-default" style="margin-top: 5px" ng-click="goHome()">Home</btn>