<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" rel="stylesheet" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
    <title>Naghi</title>
</head>
<body ng-app="app" ng-controller="appController">

<div class="container">

    <div class="row">
        <div ng-if="user" class="user-panel col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <div class="col-xs-6 text-left">{{user.username}}</div>
            <div class="col-xs-6 text-right">Credit: {{user.credit}}</div>
        </div>
        <div class="main-panel col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <div style="display: block" ng-view=""></div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/angular/1.7.4/angular.min.js}"></script>
<script th:src="@{/webjars/angular-route/1.7.4/angular-route.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/2.3.1/stomp.min.js}"></script>
<script th:src="@{/js/model/tic-tac-toe.js}"></script>
<script th:src="@{/js/model/rock-paper-scissor.js}"></script>
<script th:src="@{/js/services/socket.service.js}"></script>
<script th:src="@{/js/services/tic-tac-toe.service.js}"></script>
<script th:src="@{/js/services/rock-paper-scissor.service.js}"></script>
<script th:src="@{/js/services/game-request.service.js}"></script>
<script th:src="@{/js/services/user.service.js}"></script>
<script th:src="@{/js/controllers/tic-tac-toe.controller.js}"></script>
<script th:src="@{/js/controllers/rock-paper-scissor.controller.js}"></script>
<script th:src="@{/js/controllers/loading.controller.js}"></script>
<script th:src="@{/js/controllers/home.controller.js}"></script>
<script th:src="@{/js/controllers/app.controller.js}"></script>
<script th:src="@{/js/modules/app.js}"></script>
</body>
</html>