<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css}" rel="stylesheet"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
    <title>Title</title>
</head>
<body ng-app="login" ng-controller="loginController">

    <form th:action="@{/login}" method="post" class="form-horizontal col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 well well-lg">

        <div class="form-group">
            <label for="username" class="col-sm-3 control-label"> Username </label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input type="text" name="username" class="form-control" ng-model="username" required />
                    <span class="input-group-addon"><i class="fa fa-fw fa-key"></i></span>
                </div>
                <span ng-show="form.username.$touched && form.username.$error.required" class="help-block"> Username is required </span>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input type="password" name="password" class="form-control" ng-model="password" required />
                    <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
                </div>
                <span ng-show="form.password.$touched && form.password.$error.required" class="help-block"> Password is required </span>
            </div>
        </div>
        <div class="form-actions text-center">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-lg btn-success"> Login <span class="glyphicon glyphicon-log-in"></span></button>
        </div>
    </form>


<script th:src="@{/webjars/angular/1.7.4/angular.min.js}"></script>
<script th:src="@{/js/modules/login.js}"></script>
</body>
</html>